# The Series Data Structure

In [1]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger','Bear','Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger','Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery':'Bhutan',
         'Golf':'Scotland',
         'Sumo':'Japan',
         'Taekwondo':'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [12]:
s = pd.Series(['Tiger','Bear','Moose'],index = ['India','America','Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

# Querying a Series

In [14]:
sports = {'Archery':'Bhutan',
         'Golf':'Scotland',
         'Sumo':'Japan',
         'Taekwondo':'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [16]:
s.iloc[3]

'South Korea'

In [17]:
s.loc['Golf']

'Scotland'

In [19]:
s[3]

'South Korea'

In [20]:
sports = {99:'Bhutan',
         100:'Scotland',
         101:'Japan',
         102:'South Korea'}
s = pd.Series(sports)

In [21]:
s[0]

KeyError: 0

In [22]:
s.iloc[0]

'Bhutan'

In [26]:
s = pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [27]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [28]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [29]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    565
1    135
2    732
3    120
4    764
dtype: int64

In [30]:
len(s)

10000

In [32]:
%%timeit -n 100 #jupyter notebook magic function that records the average time of iterations
                #here, the no. of iterations are 100, default value 1000
summary = 0
for item in s:
    summary += item

1.1 ms ± 64.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [33]:
%%timeit -n 100
summary = np.sum(s)

96 µs ± 25.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [34]:
#broadcasting - change the value throughout the series
s += 2
s.head()

0    567
1    137
2    734
3    122
4    766
dtype: int64

In [36]:
for label, value in s.iteritems():
    s.set_value(label,value+2)
s.head()

0    569
1    139
2    736
3    124
4    768
dtype: int64

In [37]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

817 ms ± 41.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [38]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

472 µs ± 157 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [40]:
s = pd.Series([1, 2, 3])
s.loc['Animal']='Bears' #it is possible to add keys of different types
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [41]:
original_sports = pd.Series({'Archery':'Bhutan',
         'Golf':'Scotland',
         'Sumo':'Japan',
         'Taekwondo':'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                     'Barbados',
                                     'Pakistan',
                                     'England'],index=['Cricket',
                                                      'Cricket',
                                                      'Cricket',
                                                      'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [42]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [43]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object